<div class="character_detail">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h1>{{character.name}}</h1>
                <p><strong>Book</strong>: {{character.book}}</p>
                <p><strong>Name</strong>: {{character.name}}</p>
                <p><strong>Age</strong>: {{character.age}}</p>
                <p><strong>Species</strong>: {{character.species}}</p>
                <p><strong>Powers</strong>: {{character.powers}}</p>
                <p><strong>Summary</strong>: {{character.summary}}</p>
                
            </div>
        </div>
    </div>
</div>